<template name="SideNav">
    <nav>
        <div class="nav-wrapper">
            <!--<a href="/recipe-book" class="brand-logo">Livre de sorts</a>-->
            <!--<a href="/menu" class="brand-logo">Menu</a>-->
            <!--<a href="/shopping-list" class="brand-logo">Shopping List</a>-->


            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons ">touch_app</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/">Accueil</a></li>
                <li><a href="/NewRecipe">Ajouter un nouveau sortilège</a></li>
                <li><a href="/recipe-book">Mon livre de sortilèges</a></li>
                <li><a href="/shopping-list">Ma liste d'ingrédients</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="/">Accueil</a></li>
                <li><a href="/NewRecipe">Ajouter un nouveau sortilège</a></li>
                <li><a href="/shopping-list">Ma liste d'ingrédients</a></li>
                <li><a href="/recipe-book">Mon livre de sortilèges</a></li>

            </ul>
        </div>
    </nav>
</template>